<footer class="bg-dark text-center p-2">
    <h1>Lorem ipsum dolor</h1>
    <p class="h5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam temporibus, ducimus, minus hic exercitationem animi culpa odio beatae architecto suscipit officia ea fuga dicta autem? Nihil totam ut, cupiditate architecto quo repudiandae atque? Quibusdam, laudantium? Odio, architecto repellat reprehenderit possimus iusto mollitia dolore numquam quod ad esse ipsum nulla dolorem vero debitis quae facere recusandae voluptatibus illum, tempore veritatis aut beatae necessitatibus doloremque! Molestias repellat voluptatibus sunt maxime, voluptate, tempora sit deserunt aliquam iste quisquam libero pariatur similique, ab facere modi.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>