<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class="container vh-100 pt-2 d-flex text-center justify-content-center align-items-center">
      <section class="display-7 ">
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem ipsam aut suscipit cupiditate enim porro accusamus cumque quod animi placeat id odio assumenda sint, dignissimos rerum consequatur nam nisi voluptatibus ad repellat unde nulla. Perspiciatis cum ipsam quo voluptatem corporis eum minima totam porro eius recusandae. Voluptatem temporibus at nihil magni perferendis commodi placeat nisi eius unde. Omnis ipsa doloribus sapiente laborum vel dignissimos, voluptatum atque excepturi tenetur. Doloremque blanditiis illum explicabo expedita deleniti facilis aspernatur praesentium. Fugiat saepe voluptatibus quae tempora voluptatem porro perspiciatis ut consequuntur officiis, facilis, cum veritatis corporis libero. Beatae deserunt excepturi laudantium ad exercitationem voluptatum ipsum ratione, repellat repellendus dolorum, quod ipsa velit quibusdam aut earum voluptatem adipisci officia cumque molestiae ducimus rem et? Soluta maiores voluptatibus dolores corporis porro nesciunt sint et dignissimos officiis, neque odio ex quasi, reiciendis beatae optio doloribus? Error, voluptas odit ullam, delectus alias animi nobis exercitationem doloribus similique quos corrupti quidem debitis, neque ratione. Quam eum fugiat quaerat veritatis quas nostrum soluta harum, facere voluptates expedita aperiam libero consequuntur nemo explicabo impedit, non adipisci beatae. Saepe nesciunt, at corrupti pariatur, obcaecati quo ipsa a provident, est laudantium possimus? Fugiat possimus placeat error et officia molestias! Cum vero soluta praesentium.</p>
      </section>
    </main>
    <%- include('partials/footer') %> 
  </body>
</html>
