/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(48, 48, 48);
  color: white;
}

a {
  color: purple;
} */

body{
  background: #202020 !important;
  color: white !important;
}